#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [34]:
users_table = pd.DataFrame(pd.read_csv ('users_table.csv', sep=','))
users_table.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [35]:
users_table = users_table.rename(columns={'Id': 'userId'})
users_table.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 4. Import posts table:

In [17]:
posts_table = pd.DataFrame(pd.read_csv ('posts_table.csv', sep=','))
posts_table.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [20]:
posts_table = posts_table.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})

posts_table.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [39]:
users = users_table.filter(['userId','Reputation','Views', 'UpVotes','DownVotes'])
users.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [40]:
posts = posts_table.filter(['postId','Score','userId', 'ViewCount','CommentCount'])
posts.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [63]:
users_posts = pd.concat([users, posts], axis=1)
users_posts

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userId,ViewCount,CommentCount
0,-1,1,0,5007,1920,1.0,23.0,8.0,1278.0,1.0
1,2,101,25,3,0,2.0,22.0,24.0,8198.0,1.0
2,3,101,22,19,0,3.0,54.0,18.0,3613.0,4.0
3,4,101,11,0,0,4.0,13.0,23.0,5224.0,2.0
4,5,6792,1145,662,5,5.0,81.0,23.0,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,0,0,0,NaN,NaN,NaN,NaN,NaN
40321,55744,6,1,0,0,NaN,NaN,NaN,NaN,NaN
40322,55745,101,0,0,0,NaN,NaN,NaN,NaN,NaN
40323,55746,106,1,0,0,NaN,NaN,NaN,NaN,NaN
40324,55747,1,0,0,0,NaN,NaN,NaN,NaN,NaN

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [48]:
null_cols = users_posts.isnull().sum()
null_cols[null_cols > 0]

postId            325
Score             325
userId           1363
ViewCount       24430
CommentCount      325
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [83]:
#Clean ViewCount, too many missing values 

drop_cols = list(null_cols[null_cols > 10000].index)
users_posts_dropped = users_posts.drop(drop_cols, axis=1)
users_posts_dropped

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userId,CommentCount
0,-1,1,0,5007,1920,1.0,23.0,8.0,1.0
1,2,101,25,3,0,2.0,22.0,24.0,1.0
2,3,101,22,19,0,3.0,54.0,18.0,4.0
3,4,101,11,0,0,4.0,13.0,23.0,2.0
4,5,6792,1145,662,5,5.0,81.0,23.0,3.0
...,...,...,...,...,...,...,...,...,...
40320,55743,1,0,0,0,NaN,NaN,NaN,NaN
40321,55744,6,1,0,0,NaN,NaN,NaN,NaN
40322,55745,101,0,0,0,NaN,NaN,NaN,NaN
40323,55746,106,1,0,0,NaN,NaN,NaN,NaN
40324,55747,1,0,0,0,NaN,NaN,NaN,NaN

In [86]:
#filling the remaining values

#users_posts_dropped[['postId','Score','userId','CommentCount']] = users_posts_dropped[['postId','Score','userId','CommentCount']].fillna(0)

users_posts_filled = users_posts_dropped.fillna(0)

users_posts_filled

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userId,CommentCount
0,-1,1,0,5007,1920,1.0,23.0,8.0,1.0
1,2,101,25,3,0,2.0,22.0,24.0,1.0
2,3,101,22,19,0,3.0,54.0,18.0,4.0
3,4,101,11,0,0,4.0,13.0,23.0,2.0
4,5,6792,1145,662,5,5.0,81.0,23.0,3.0
...,...,...,...,...,...,...,...,...,...
40320,55743,1,0,0,0,0.0,0.0,0.0,0.0
40321,55744,6,1,0,0,0.0,0.0,0.0,0.0
40322,55745,101,0,0,0,0.0,0.0,0.0,0.0
40323,55746,106,1,0,0,0.0,0.0,0.0,0.0
40324,55747,1,0,0,0,0.0,0.0,0.0,0.0

In [96]:
#cleaning empty rows to not influence results

Final_data = users_posts_dropped.dropna(axis = 0, how ='any') 

Final_data

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userId,CommentCount
0,-1,1,0,5007,1920,1.0,23.0,8.0,1.0
1,2,101,25,3,0,2.0,22.0,24.0,1.0
2,3,101,22,19,0,3.0,54.0,18.0,4.0
3,4,101,11,0,0,4.0,13.0,23.0,2.0
4,5,6792,1145,662,5,5.0,81.0,23.0,3.0
...,...,...,...,...,...,...,...,...,...
39995,55412,6,1,0,0,48321.0,0.0,19966.0,0.0
39996,55414,1,0,0,0,48322.0,3.0,892.0,2.0
39997,55415,6,2,0,0,48323.0,1.0,2020.0,0.0
39998,55416,111,0,0,0,48324.0,3.0,19914.0,0.0
39999,55417,21,10,0,0,48325.0,-1.0,19968.0,4.0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [97]:
Final_data.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId          float64
Score           float64
userId          float64
CommentCount    float64
dtype: object

In [100]:
Final_data['postId'] = Final_data['postId'].astype('int')
Final_data['userId'] = Final_data['userId'].astype('int')
Final_data['CommentCount'] = Final_data['CommentCount'].astype('int')

Final_data.dtypes

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score           float64
userId            int64
CommentCount      int64
dtype: object

In [102]:
Final_data

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userId,CommentCount
0,-1,1,0,5007,1920,1,23.0,8,1
1,2,101,25,3,0,2,22.0,24,1
2,3,101,22,19,0,3,54.0,18,4
3,4,101,11,0,0,4,13.0,23,2
4,5,6792,1145,662,5,5,81.0,23,3
...,...,...,...,...,...,...,...,...,...
39995,55412,6,1,0,0,48321,0.0,19966,0
39996,55414,1,0,0,0,48322,3.0,892,2
39997,55415,6,2,0,0,48323,1.0,2020,0
39998,55416,111,0,0,0,48324,3.0,19914,0
39999,55417,21,10,0,0,48325,-1.0,19968,4