#### 1. Import pandas library

In [81]:
import pandas as pd

#### 2. Import users table:

In [82]:
users_table= pd.read_csv("C:\\Users\\Zoe Mercury\\Documents\\GitHub\\lab-data-cleaning\\your-code\\users_table.csv")
users_table

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\r\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 3. Rename Id column to userId

In [83]:
users_table.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

In [84]:
users_table.columns=['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl']
users_table.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 4. Import posts table:

In [85]:
posts_table= pd.read_csv("C:\\Users\\Zoe Mercury\\Documents\\GitHub\\lab-data-cleaning\\your-code\\posts_table.csv")
posts_table

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,48321,2,NaN,2013-01-23 09:00:01,0,NaN,<p>you can use the matlab codes for svm and co...,19966.0,2013-01-23 09:00:01,NaN,...,NaN,0,NaN,NaN,NaN,NaN,45118.0,NaN,NaN,NaN
39996,48322,2,NaN,2013-01-23 09:09:34,3,NaN,"<p>I use <a href=""http://www.gnu.org/software/...",892.0,2013-01-23 13:13:30,NaN,...,NaN,2,NaN,892.0,2013-01-23 13:13:30,NaN,48311.0,NaN,NaN,NaN
39997,48323,2,NaN,2013-01-23 09:16:44,1,NaN,"<p>If I understand your question correctly, yo...",2020.0,2013-01-23 09:16:44,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48247.0,NaN,NaN,NaN
39998,48324,2,NaN,2013-01-23 09:36:07,3,NaN,"<p>Doesn't really help you with your question,...",19914.0,2013-01-23 09:36:07,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48297.0,NaN,NaN,NaN
39999,48325,1,NaN,2013-01-23 09:44:07,-1,116.0,"<p>I have 10 vectors each having 100,000 point...",19968.0,2013-02-22 11:23:54,are data sets obtained from a Normal distribut...,...,2.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [86]:
posts_table.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [87]:
posts_table.columns= ['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName']
posts_table

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,48321,2,NaN,2013-01-23 09:00:01,0,NaN,<p>you can use the matlab codes for svm and co...,19966.0,2013-01-23 09:00:01,NaN,...,NaN,0,NaN,NaN,NaN,NaN,45118.0,NaN,NaN,NaN
39996,48322,2,NaN,2013-01-23 09:09:34,3,NaN,"<p>I use <a href=""http://www.gnu.org/software/...",892.0,2013-01-23 13:13:30,NaN,...,NaN,2,NaN,892.0,2013-01-23 13:13:30,NaN,48311.0,NaN,NaN,NaN
39997,48323,2,NaN,2013-01-23 09:16:44,1,NaN,"<p>If I understand your question correctly, yo...",2020.0,2013-01-23 09:16:44,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48247.0,NaN,NaN,NaN
39998,48324,2,NaN,2013-01-23 09:36:07,3,NaN,"<p>Doesn't really help you with your question,...",19914.0,2013-01-23 09:36:07,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48297.0,NaN,NaN,NaN
39999,48325,1,NaN,2013-01-23 09:44:07,-1,116.0,"<p>I have 10 vectors each having 100,000 point...",19968.0,2013-02-22 11:23:54,are data sets obtained from a Normal distribut...,...,2.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
users_table

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\r\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [89]:
users= users_table[['userId', 'Reputation','Views','UpVotes','DownVotes']]
users

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [90]:
posts= posts_table[['postId', 'Score','userId','ViewCount','CommentCount']]
posts

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
39995   48321      0  19966.0        NaN             0
39996   48322      3    892.0        NaN             2
39997   48323      1   2020.0        NaN             0
39998   48324      3  19914.0        NaN             0
39999   48325     -1  19968.0      116.0             4

[40000 rows x 5 columns]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [91]:
to_be_merged= [users, posts]
users_posts= pd.concat(to_be_merged)

users_posts
#one column has disappeared: he probably merged the colum with the same name ("userId") into one
#double amount of rows...shouldnt be. Is it because he merged "userId"
#but then found out it doesn't have the same values, hence he just appended?
#maybe .concat is not the right method in this case

#I renamed the column userId to UserId in the second df but it still does the same?!
#how to merge keeping both columns???

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,NaN,NaN,NaN,NaN
1,2.0,101.0,25.0,3.0,0.0,NaN,NaN,NaN,NaN
2,3.0,101.0,22.0,19.0,0.0,NaN,NaN,NaN,NaN
3,4.0,101.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN
4,5.0,6792.0,1145.0,662.0,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39995,19966.0,NaN,NaN,NaN,NaN,48321.0,0.0,NaN,0.0
39996,892.0,NaN,NaN,NaN,NaN,48322.0,3.0,NaN,2.0
39997,2020.0,NaN,NaN,NaN,NaN,48323.0,1.0,NaN,0.0
39998,19914.0,NaN,NaN,NaN,NaN,48324.0,3.0,NaN,0.0
39999,19968.0,NaN,NaN,NaN,NaN,48325.0,-1.0,116.0,4.0

In [92]:
append_merge = users.append(posts)
append_merge

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,NaN,NaN,NaN,NaN
1,2.0,101.0,25.0,3.0,0.0,NaN,NaN,NaN,NaN
2,3.0,101.0,22.0,19.0,0.0,NaN,NaN,NaN,NaN
3,4.0,101.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN
4,5.0,6792.0,1145.0,662.0,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39995,19966.0,NaN,NaN,NaN,NaN,48321.0,0.0,NaN,0.0
39996,892.0,NaN,NaN,NaN,NaN,48322.0,3.0,NaN,2.0
39997,2020.0,NaN,NaN,NaN,NaN,48323.0,1.0,NaN,0.0
39998,19914.0,NaN,NaN,NaN,NaN,48324.0,3.0,NaN,0.0
39999,19968.0,NaN,NaN,NaN,NaN,48325.0,-1.0,116.0,4.0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [ ]:
# The only missing value type seems to be the standard type NaN, so we
# don't need to add any additional non-standard missing value types

In [93]:
users_posts.isnull().sum()

userId           1038
Reputation      40000
Views           40000
UpVotes         40000
DownVotes       40000
postId          40325
Score           40325
ViewCount       64430
CommentCount    40325
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [94]:
# with numerical/mathematical values it makes sense to replace them e.g. with the mean of the column
# string data could only be replaced with a string saying "not available" or so

users_posts["userId"].fillna("not available", inplace=True)
users_posts

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1.0,0.0,5007.0,1920.0,NaN,NaN,NaN,NaN
1,2,101.0,25.0,3.0,0.0,NaN,NaN,NaN,NaN
2,3,101.0,22.0,19.0,0.0,NaN,NaN,NaN,NaN
3,4,101.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN
4,5,6792.0,1145.0,662.0,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39995,19966,NaN,NaN,NaN,NaN,48321.0,0.0,NaN,0.0
39996,892,NaN,NaN,NaN,NaN,48322.0,3.0,NaN,2.0
39997,2020,NaN,NaN,NaN,NaN,48323.0,1.0,NaN,0.0
39998,19914,NaN,NaN,NaN,NaN,48324.0,3.0,NaN,0.0
39999,19968,NaN,NaN,NaN,NaN,48325.0,-1.0,116.0,4.0

In [100]:
users_posts["Views"].fillna(users_posts["Views"].mean(), inplace=True)
users_posts

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1.0,0.000000,5007.0,1920.0,NaN,NaN,NaN,NaN
1,2,101.0,25.000000,3.0,0.0,NaN,NaN,NaN,NaN
2,3,101.0,22.000000,19.0,0.0,NaN,NaN,NaN,NaN
3,4,101.0,11.000000,0.0,0.0,NaN,NaN,NaN,NaN
4,5,6792.0,1145.000000,662.0,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39995,19966,NaN,8.909634,NaN,NaN,48321.0,0.0,NaN,0.0
39996,892,NaN,8.909634,NaN,NaN,48322.0,3.0,NaN,2.0
39997,2020,NaN,8.909634,NaN,NaN,48323.0,1.0,NaN,0.0
39998,19914,NaN,8.909634,NaN,NaN,48324.0,3.0,NaN,0.0
39999,19968,NaN,8.909634,NaN,NaN,48325.0,-1.0,116.0,4.0

In [51]:
users_posts.dtypes

userId           object
Reputation      float64
Views           float64
UpVotes         float64
DownVotes       float64
postId          float64
Score           float64
UserId          float64
ViewCount       float64
CommentCount    float64
dtype: object

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [55]:
# Probably the numerical types which are not meant for mathematical operations
# such as userId, postId

user_post=users_posts.astype({'postId':'object'})

In [56]:
user_post.dtypes

userId           object
Reputation      float64
Views           float64
UpVotes         float64
DownVotes       float64
postId           object
Score           float64
UserId          float64
ViewCount       float64
CommentCount    float64
dtype: object