#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
users=pd.read_csv('users_table.csv')

#### 3. Rename Id column to userId

In [3]:
users.rename(columns={'Id':'userId'}, inplace = True)

#### 4. Import posts table:

In [4]:
posts=pd.read_csv('posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'}, inplace=True)

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [ ]:
users=users[['userId','Reputation','Views','UpVotes','DownVotes']]
posts=posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [6]:
merged_df=pd.merge(left=users,
                   right=posts,
                   left_on='userId',
                   right_on='userId',
                   how='inner'
)

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [7]:
merged_df.isnull().sum()

userId                       0
Reputation                   0
CreationDate                 0
DisplayName                  9
LastAccessDate               0
WebsiteUrl               21496
Location                 18057
AboutMe                  18488
Views                        0
UpVotes                      0
DownVotes                    0
AccountId                    0
Age                      24862
ProfileImageUrl          36137
postId                       0
PostTypeId                   0
AcceptedAnswerId         31813
CreaionDate                  0
Score                        0
ViewCount                23572
Body                       115
LasActivityDate              0
Title                    23572
Tags                     23572
AnswerCount              23572
CommentCount                 0
FavoriteCount            31906
LastEditorUserId         19624
LastEditDate             19434
CommunityOwnedDate       37136
ParentId                 15923
ClosedDate               38451
OwnerDisplayName         38224
LastEditorDisplayName    38753
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [8]:
print((merged_df['ViewCount'].isnull().sum()/merged_df.shape[0])*100)
print(merged_df['ViewCount'].dtypes)
merged_df['ViewCount'].value_counts()

60.499974333966435
float64

98.0      43
150.0     43
122.0     42
156.0     41
108.0     41
          ..
2313.0     1
6113.0     1
3463.0     1
3531.0     1
3357.0     1
Name: ViewCount, Length: 3402, dtype: int64

In [9]:
merged_df=merged_df.drop(columns=['ViewCount'])

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [10]:
merged_df.dtypes

userId                     int64
Reputation                 int64
CreationDate              object
DisplayName               object
LastAccessDate            object
WebsiteUrl                object
Location                  object
AboutMe                   object
Views                      int64
UpVotes                    int64
DownVotes                  int64
AccountId                  int64
Age                      float64
ProfileImageUrl           object
postId                     int64
PostTypeId                 int64
AcceptedAnswerId         float64
CreaionDate               object
Score                      int64
Body                      object
LasActivityDate           object
Title                     object
Tags                      object
AnswerCount              float64
CommentCount               int64
FavoriteCount            float64
LastEditorUserId         float64
LastEditDate              object
CommunityOwnedDate        object
ParentId                 float64
ClosedDate                object
OwnerDisplayName          object
LastEditorDisplayName     object
dtype: object

In [11]:
merged_df.head(2)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaN,NaN,NaN,NaN,NaN
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaN,NaN,NaN,NaN,NaN

In [12]:
merged_df.nunique().sort_values(ascending=False)

postId                   38962
Body                     38844
CreaionDate              38680
LasActivityDate          31963
LastEditDate             19487
Title                    15376
ParentId                 12615
Tags                     10894
userId                    8138
AccountId                 8138
CreationDate              8137
LastAccessDate            8136
DisplayName               7167
AcceptedAnswerId          7149
LastEditorUserId          2461
AboutMe                   1820
WebsiteUrl                1717
CommunityOwnedDate        1458
Reputation                 871
Location                   810
ClosedDate                 511
OwnerDisplayName           479
Views                      336
UpVotes                    296
ProfileImageUrl            215
Score                      122
FavoriteCount               75
DownVotes                   68
Age                         59
CommentCount                34
AnswerCount                 31
PostTypeId                   7
LastEditorDisplayName        7
dtype: int64

In [13]:
merged_df=merged_df.astype({'Score':'float'})

In [14]:
merged_df.dtypes

userId                     int64
Reputation                 int64
CreationDate              object
DisplayName               object
LastAccessDate            object
WebsiteUrl                object
Location                  object
AboutMe                   object
Views                      int64
UpVotes                    int64
DownVotes                  int64
AccountId                  int64
Age                      float64
ProfileImageUrl           object
postId                     int64
PostTypeId                 int64
AcceptedAnswerId         float64
CreaionDate               object
Score                    float64
Body                      object
LasActivityDate           object
Title                     object
Tags                      object
AnswerCount              float64
CommentCount               int64
FavoriteCount            float64
LastEditorUserId         float64
LastEditDate              object
CommunityOwnedDate        object
ParentId                 float64
ClosedDate                object
OwnerDisplayName          object
LastEditorDisplayName     object
dtype: object