#### 1. Import pandas library

In [23]:
import pandas as pd

#### 2. Import users table:

In [24]:
users = pd.read_csv("users_table.csv")
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [25]:
users= users.rename(columns = {'Id': 'userId'})
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 4. Import posts table:

In [26]:
posts = pd.read_csv("posts_table.csv")
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [34]:
posts= posts.rename(columns = {'Id': 'postId','OwnerUserId': 'userId'})
posts.head(50)

    postId  Score  userId  ViewCount  CommentCount
0        1     23     8.0     1278.0             1
1        2     22    24.0     8198.0             1
2        3     54    18.0     3613.0             4
3        4     13    23.0     5224.0             2
4        5     81    23.0        NaN             3
5        6    152     5.0    29229.0             5
6        7     76    38.0     5808.0             3
7        8      0    37.0      288.0             2
8        9     13    50.0        NaN             3
9       10     23    24.0    21925.0             4
10      11      2    34.0      224.0             2
11      12     20     5.0        NaN             1
12      13     14    23.0        NaN             4
13      14      5    36.0        NaN             1
14      15     13     6.0        NaN             0
15      16     16     8.0        NaN             3
16      17      9     NaN     1261.0             0
17      18     31    36.0        NaN             1
18      19     12    55.0        NaN             0
19      20      3    37.0        NaN             2
20      21      4    59.0      184.0             1
21      22    102    66.0    21916.0             1
22      23     10    69.0     7694.0             1
23      24     17    61.0        NaN             0
24      25      7    69.0     2095.0             4
25      26     18    75.0     3476.0            14
26      27      4    68.0        NaN             0
27      28      6     NaN        NaN             0
28      29      5    36.0        NaN             0
29      30      7    69.0      705.0             2
30      31     66    13.0   175495.0             3
31      32     12     5.0        NaN             0
32      33      5    69.0     1428.0             1
33      34      3    79.0        NaN             0
34      35     10    54.0     1223.0             0
35      36     41     8.0    67396.0             7
36      38      2    61.0        NaN             2
37      39      4    59.0      210.0             0
38      40      8    69.0      491.0             1
39      41      8    83.0        NaN             0
40      42     12    80.0        NaN             3
41      43      7    74.0        NaN             5
42      44      8    68.0      453.0             1
43      45      5    55.0        NaN             1
44      46      0    62.0        NaN             2
45      47      7    22.0      312.0             2
46      48      3    36.0        NaN             4
47      49      6     5.0        NaN             0
48      50     18    62.0     2414.0             4
49      51      1    68.0      120.0             0

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [28]:
users = users[['userId','Reputation','Views', 'UpVotes','DownVotes']]

posts = posts[['postId','Score','userId','ViewCount','CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [36]:
merged = pd.merge(users,posts, on='userId')
merged.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

In [38]:
mergeds = users.merge(posts, on='userId')
mergeds.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [30]:
# Returns a 2D structure with True/False on NA's / Nulls
print("Number of nulls: " + str(merged.isnull().sum().sum()))

Number of nulls: 23572

In [31]:
## FIND OUT WHICH COLUMNS HAVE NULLS = VIEWCOUNT
merged.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

In [32]:
## FIND OUT WHICH COLUMNS HAVE NULLS = VIEWCOUNT
columns_nulls = merged.isnull().sum(axis=0) > 0
columns_nulls

userId          False
Reputation      False
Views           False
UpVotes         False
DownVotes       False
postId          False
Score           False
ViewCount        True
CommentCount    False
dtype: bool

In [33]:
print(columns_nonulls[ columns_nonulls == True].index)

Index(['ViewCount'], dtype='object')

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [43]:
merged['ViewCount'] = merged['ViewCount'].fillna(value = merged['ViewCount'].median())
merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,385.0,0
1,-1,1,0,5007,1920,8576,0,385.0,0
2,-1,1,0,5007,1920,8578,0,385.0,0
3,-1,1,0,5007,1920,8981,0,385.0,0
4,-1,1,0,5007,1920,8982,0,385.0,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,385.0,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [44]:
merged.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [46]:
merged['ViewCount'] = merged['ViewCount'].astype('int64')

In [47]:
merged.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object