#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
data_users = pd.read_csv('users_table.csv')
data_users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [3]:
data_users = data_users.rename(columns={'Id':'userId'})

data_users.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 4. Import posts table:

In [4]:
data_posts = pd.read_csv('posts_table.csv')
data_posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

In [5]:
data_posts.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 21 columns):
Id                       40000 non-null int64
PostTypeId               40000 non-null int64
AcceptedAnswerId         7266 non-null float64
CreaionDate              40000 non-null object
Score                    40000 non-null int64
ViewCount                15895 non-null float64
Body                     39885 non-null object
OwnerUserId              38962 non-null float64
LasActivityDate          40000 non-null object
Title                    15895 non-null object
Tags                     15895 non-null object
AnswerCount              15895 non-null float64
CommentCount             40000 non-null int64
FavoriteCount            7293 non-null float64
LastEditorUserId         19725 non-null float64
LastEditDate             20072 non-null object
CommunityOwnedDate       1903 non-null object
ParentId                 23569 non-null float64
ClosedDate               528 non-null object
OwnerDisplayName         1772 non-null object
LastEditorDisplayName    382 non-null object
dtypes: float64(7), int64(4), object(10)
memory usage: 6.4+ MB

#### 5. Rename Id column to postId and OwnerUserId to userId

In [6]:
data_posts = data_posts.rename(columns={'Id':'postId',
                                 'OwnerUserId':'userId'})

data_posts.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [7]:
users_columns = data_users[['userId', 'Reputation','Views','UpVotes','DownVotes' ]]
posts_columns = data_posts[['postId', 'Score','userId','ViewCount','CommentCount' ]]
posts_columns.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [8]:
df = users_columns.merge(posts_columns, left_on='userId', right_on='userId')
df.head

<bound method NDFrame.head of        userId  Reputation  Views  UpVotes  DownVotes  postId  Score  \
0          -1           1      0     5007       1920    2175      0
1          -1           1      0     5007       1920    8576      0
2          -1           1      0     5007       1920    8578      0
3          -1           1      0     5007       1920    8981      0
4          -1           1      0     5007       1920    8982      0
5          -1           1      0     5007       1920    9857      0
6          -1           1      0     5007       1920    9858      0
7          -1           1      0     5007       1920    9860      0
8          -1           1      0     5007       1920   10130      0
9          -1           1      0     5007       1920   10131      0
10         -1           1      0     5007       1920   15331      0
11         -1           1      0     5007       1920   15332      0
12         -1           1      0     5007       1920   16296      0
13         -1           1      0     5007       1920   16366      0
14         -1           1      0     5007       1920   19423      0
15         -1           1      0     5007       1920   19848      0
16         -1           1      0     5007       1920   20259      0
17         -1           1      0     5007       1920   20261      0
18         -1           1      0     5007       1920   20262      0
19         -1           1      0     5007       1920   20263      0
20         -1           1      0     5007       1920   20264      0
21         -1           1      0     5007       1920   20485      0
22         -1           1      0     5007       1920   20487      0
23         -1           1      0     5007       1920   20489      0
24         -1           1      0     5007       1920   20490      0
25         -1           1      0     5007       1920   21497      0
26         -1           1      0     5007       1920   21795      0
27         -1           1      0     5007       1920   21856      0
28         -1           1      0     5007       1920   21860      0
29         -1           1      0     5007       1920   21861      0
...       ...         ...    ...      ...        ...     ...    ...
38932   27581        1159    112      186         12   33250      0
38933   27581        1159    112      186         12   40831      0
38934   27581        1159    112      186         12   40833      0
38935   30893         116      2        0          0   19444      3
38936   31017         160      6        6          0   46345      4
38937   31124         166      5        3          0   14544      6
38938   31388          11      0        0          0   38872      1
38939   32036        7227    991     2664        143   28258      0
38940   35234         171      0        0          0   23445     14
38941   35705          16      0        0          0   19577      3
38942   35921         113      2        1          0   16397     -2
38943   36602         121      0        2          0   27672      4
38944   37890         111      0        0          0   41240      1
38945   40342         121      1        1          0   32863      4
38946   42201         131      0        0          0   10683      3
38947   43908         384     77       18          0   24072      2
38948   43908         384     77       18          0   24107      0
38949   43908         384     77       18          0   25702      1
38950   43908         384     77       18          0   25811     47
38951   43908         384     77       18          0   26326      3
38952   43908         384     77       18          0   26469      0
38953   43908         384     77       18          0   26927      1
38954   44618         128      1        0          0   21104      3
38955   44915           1      0        0          0   34012      0
38956   44995          11      9        0          0   44474      1
38957   45934          11      1        0          0   34003      1
38958   46192          36      1        0          0   40667      5
38959   46522         235     13       27          1   17461      3
38960   52371         221      2        0          0   27237     24
38961   55226         119      2        3          0   16176      1

       ViewCount  CommentCount
0            NaN             0
1            NaN             0
2            NaN             0
3            NaN             0
4            NaN             0
5            NaN             0
6            NaN             0
7            NaN             0
8            NaN             0
9            NaN             0
10           NaN             0
11           NaN             0
12           NaN             0
13           NaN             0
14           NaN             0
15           NaN             0
16           NaN             0
17           NaN             0
18           NaN             0
19           NaN             0
20           NaN             0
21           NaN             0
22           NaN             0
23           NaN             0
24           NaN             0
25           NaN             0
26           NaN             0
27           NaN             0
28           NaN             0
29           NaN             0
...          ...           ...
38932        NaN             0
38933        NaN             0
38934        NaN             0
38935       61.0             1
38936     3221.0             1
38937        NaN             2
38938        NaN             0
38939        NaN             0
38940      840.0             0
38941      409.0             0
38942        NaN             1
38943     2244.0             1
38944        NaN             3
38945      144.0             6
38946        NaN             0
38947     2361.0             4
38948      551.0             5
38949      228.0             0
38950     4463.0            11
38951      820.0             6
38952      124.0             0
38953     2259.0             0
38954     3650.0             6
38955       81.0             0
38956      446.0             1
38957      115.0             2
38958      326.0             2
38959      166.0             0
38960     3357.0             5
38961        NaN             0

[38962 rows x 9 columns]>

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [9]:
df.isnull().sum(axis = 0)

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [10]:
df=df.fillna('0') # viewcount column is composed by number, so the logical solution will be to replace by zero for any further analysys

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [11]:
df.dtypes

userId           int64
Reputation       int64
Views            int64
UpVotes          int64
DownVotes        int64
postId           int64
Score            int64
ViewCount       object
CommentCount     int64
dtype: object

In [12]:
new_df= df["ViewCount"].astype(int)
new_df

0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
         ...
38932       0
38933       0
38934       0
38935      61
38936    3221
38937       0
38938       0
38939       0
38940     840
38941     409
38942       0
38943    2244
38944       0
38945     144
38946       0
38947    2361
38948     551
38949     228
38950    4463
38951     820
38952     124
38953    2259
38954    3650
38955      81
38956     446
38957     115
38958     326
38959     166
38960    3357
38961       0
Name: ViewCount, Length: 38962, dtype: int32