#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [4]:
users = pd.read_csv('/Users/tiagoornelas/Documents/Ironhack/Labs/lab-data-cleaning/your-code/users_table.csv')

users

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 3. Rename Id column to userId

In [9]:
users.rename(columns = {'Id': 'userId'}, inplace=True)
users

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 4. Import posts table:

In [10]:
posts = pd.read_csv('/Users/tiagoornelas/Documents/Ironhack/Labs/lab-data-cleaning/your-code/posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [14]:
posts.rename(columns = {'Id': 'postId', 'OwnerUserId':'userId'}, inplace=True)

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [21]:
user_df= users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]

post_df = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [29]:
merged_df = users.merge(posts, how='inner')

merged_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1.0,1.0,0.0,5007.0,1920.0,2175.0,7.0,NaN,2010-08-28 01:20:33,0.0,...,NaN,0.0,NaN,-1.0,2014-04-23 13:43:43,NaN,NaN,NaN,NaN,NaN
1,-1.0,1.0,0.0,5007.0,1920.0,8576.0,5.0,NaN,2011-03-21 17:40:28,0.0,...,NaN,0.0,NaN,-1.0,2011-03-21 17:40:28,NaN,NaN,NaN,NaN,NaN
2,-1.0,1.0,0.0,5007.0,1920.0,8578.0,5.0,NaN,2011-03-21 17:46:43,0.0,...,NaN,0.0,NaN,-1.0,2011-03-21 17:46:43,NaN,NaN,NaN,NaN,NaN
3,-1.0,1.0,0.0,5007.0,1920.0,8981.0,3.0,NaN,2011-03-30 19:23:14,0.0,...,NaN,0.0,NaN,919.0,2011-03-30 19:23:14,NaN,NaN,NaN,NaN,NaN
4,-1.0,1.0,0.0,5007.0,1920.0,8982.0,3.0,NaN,2011-03-30 19:23:14,0.0,...,NaN,0.0,NaN,919.0,2011-03-30 19:23:14,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,NaN,NaN,NaN,NaN,NaN,46117.0,1.0,NaN,2012-12-17 20:14:30,0.0,...,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,mettle,NaN
39996,NaN,NaN,NaN,NaN,NaN,46260.0,1.0,NaN,2012-12-19 18:06:20,5.0,...,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Yotam,NaN
39997,NaN,NaN,NaN,NaN,NaN,46836.0,1.0,NaN,2012-12-31 10:22:45,3.0,...,3.0,0.0,1.0,930.0,2013-01-02 20:49:20,NaN,NaN,NaN,almathie,NaN
39998,NaN,NaN,NaN,NaN,NaN,46892.0,2.0,NaN,2013-01-03 15:35:44,1.0,...,NaN,0.0,NaN,NaN,NaN,NaN,46891.0,NaN,HÃ©lio Santos,NaN
39999,NaN,NaN,NaN,NaN,NaN,47308.0,1.0,NaN,2013-01-08 15:26:51,2.0,...,1.0,0.0,NaN,930.0,2013-01-09 13:28:11,NaN,NaN,NaN,Tom,NaN

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [32]:
missing_values = merged_df.isnull().sum()

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [36]:
columns_to_drop = list(missing_values[missing_values > 10000].index)

dropping = merged_df.drop(columns = columns_to_drop)

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [44]:
merged_types = merged_df.dtypes
merged_types

#merged_df['UpVotes'] = merged_df['UpVotes'].astype('int64')

userId                   float64
Reputation               float64
Views                    float64
UpVotes                  float64
DownVotes                float64
postId                   float64
PostTypeId               float64
AcceptedAnswerId         float64
CreaionDate               object
Score                    float64
ViewCount                float64
Body                      object
LasActivityDate           object
Title                     object
Tags                      object
AnswerCount              float64
CommentCount             float64
FavoriteCount            float64
LastEditorUserId         float64
LastEditDate              object
CommunityOwnedDate        object
ParentId                 float64
ClosedDate                object
OwnerDisplayName          object
LastEditorDisplayName     object
dtype: object

In [45]:
merged_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1.0,1.0,0.0,5007.0,1920.0,2175.0,7.0,NaN,2010-08-28 01:20:33,0.0,...,NaN,0.0,NaN,-1.0,2014-04-23 13:43:43,NaN,NaN,NaN,NaN,NaN
1,-1.0,1.0,0.0,5007.0,1920.0,8576.0,5.0,NaN,2011-03-21 17:40:28,0.0,...,NaN,0.0,NaN,-1.0,2011-03-21 17:40:28,NaN,NaN,NaN,NaN,NaN
2,-1.0,1.0,0.0,5007.0,1920.0,8578.0,5.0,NaN,2011-03-21 17:46:43,0.0,...,NaN,0.0,NaN,-1.0,2011-03-21 17:46:43,NaN,NaN,NaN,NaN,NaN
3,-1.0,1.0,0.0,5007.0,1920.0,8981.0,3.0,NaN,2011-03-30 19:23:14,0.0,...,NaN,0.0,NaN,919.0,2011-03-30 19:23:14,NaN,NaN,NaN,NaN,NaN
4,-1.0,1.0,0.0,5007.0,1920.0,8982.0,3.0,NaN,2011-03-30 19:23:14,0.0,...,NaN,0.0,NaN,919.0,2011-03-30 19:23:14,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,NaN,NaN,NaN,NaN,NaN,46117.0,1.0,NaN,2012-12-17 20:14:30,0.0,...,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,mettle,NaN
39996,NaN,NaN,NaN,NaN,NaN,46260.0,1.0,NaN,2012-12-19 18:06:20,5.0,...,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Yotam,NaN
39997,NaN,NaN,NaN,NaN,NaN,46836.0,1.0,NaN,2012-12-31 10:22:45,3.0,...,3.0,0.0,1.0,930.0,2013-01-02 20:49:20,NaN,NaN,NaN,almathie,NaN
39998,NaN,NaN,NaN,NaN,NaN,46892.0,2.0,NaN,2013-01-03 15:35:44,1.0,...,NaN,0.0,NaN,NaN,NaN,NaN,46891.0,NaN,HÃ©lio Santos,NaN
39999,NaN,NaN,NaN,NaN,NaN,47308.0,1.0,NaN,2013-01-08 15:26:51,2.0,...,1.0,0.0,NaN,930.0,2013-01-09 13:28:11,NaN,NaN,NaN,Tom,NaN