#### 1. Import pandas library

In [114]:
import pandas as pd

#### 2. Import mysql.connector

In [115]:
import mysql.connector

#### 2.2. Run the following line

In [116]:
cnx = mysql.connector.connect(user='guest', password='relational', host='relational.fit.cvut.cz', database='stats', use_pure=True)

### Import users table:

#### 3. Initialize cursor (as seen in classes' Jupyter Notebook)

In [117]:
cursor = cnx.cursor()

#### 4. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the users table from stats database. (Hint: stats.users)

In [118]:
query = ("SELECT * FROM stats.users")

#### 5. Send query to database  (as seen in classes' Jupyter Notebook)

In [119]:
cursor.execute(query)

In [120]:
cursor

#### 6. Create a new dataframe (preferably called users) with the following columns names (as seen in classes' Jupyter Notebook)

In [121]:
columns_users = ['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate', 'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes', 'AccountId', 'Age', 'ProfileImageUrl']
users = pd.DataFrame(columns = columns_users)

users

Empty DataFrame
Columns: [userId, Reputation, CreationDate, DisplayName, LastAccessDate, WebsiteUrl, Location, AboutMe, Views, UpVotes, DownVotes, AccountId, Age, ProfileImageUrl]
Index: []

#### 7. Fill the new users dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

In [122]:
#for i, data in enumerate(cursor):
    #users.loc[i] = data

In [123]:
users = pd.read_csv('users_table.csv')

In [124]:
users.columns = columns_users

In [125]:
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 8. Rename Id column to userId

In [126]:
#??

### Import posts table:

#### 9. Initialize cursor (as seen in classes' Jupyter Notebook)

In [127]:
cnx = mysql.connector.connect(user='guest', password='relational', host='relational.fit.cvut.cz', database='stats', use_pure=True)
cursor = cnx.cursor()

#### 10. Initialize query  (as seen in classes' Jupyter Notebook) 
#### You want the posts table from stats database. (Hint: no hint this time ;) )

In [128]:
query = ("SELECT * FROM stats.posts")

#### 11. Send query to database  (as seen in classes' Jupyter Notebook)

In [129]:
cursor.execute(query)

#### 12. Create a new dataframe (preferably called posts) with the following columns names (as seen in classes' Jupyter Notebook)

In [130]:
columns_posts = ['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score', 'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId', 'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate', 'OwnerDisplayName', 'LastEditorDisplayName']
posts = pd.DataFrame(columns = columns_posts)

In [131]:
posts

Empty DataFrame
Columns: [Id, PostTypeId, AcceptedAnswerId, CreaionDate, Score, ViewCount, Body, OwnerUserId, LasActivityDate, Title, Tags, AnswerCount, CommentCount, FavoriteCount, LastEditorUserId, LastEditDate, CommunityOwnedDate, ParentId, ClosedDate, OwnerDisplayName, LastEditorDisplayName]
Index: []

[0 rows x 21 columns]

#### 12. Fill the new posts dataframe with the data you can get iterating through cursor (as seen in classes' Jupyter Notebook)

In [132]:
#for i, data in enumerate(cursor):
    #posts.loc[i] = data

In [133]:
posts = pd.read_csv('posts_table.csv')

In [134]:
posts.columns = columns_posts

In [135]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 13. Rename Id column to postId and OwnerUserId to userId

In [136]:
posts = posts.rename(columns = {"Id": "postId", "OwnerUserId":"userId"})

In [160]:
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

# 14. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [138]:
users_1 = users[['userId','Reputation','Views','UpVotes','DownVotes']]
posts_1 = posts[['postId','Score','userId','ViewCount','CommentCount']]

In [155]:
users_1.head()

   userId  Reputation  Views  UpVotes  DownVotes
0       1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [156]:
posts_1.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 15. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [157]:
users_m_posts = pd.merge(users_1, posts_1, left_index=True, right_index=True)

In [194]:
users_m_posts.head()

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
0,1,1,0,5007,1920,1,23,8.0,1278.0,1
1,2,101,25,3,0,2,22,24.0,8198.0,1
2,3,101,22,19,0,3,54,18.0,3613.0,4
3,4,101,11,0,0,4,13,23.0,5224.0,2
4,5,6792,1145,662,5,5,81,23.0,0.0,3

#### 16. How many missing values do you have in your merged dataframe? On which columns?

In [146]:
#Null means missing. False is zero (take into account that value 0.0 is a number!)

users_m_posts.isnull().sum() #columns that have NaN/Null and how many Null values. Gives all columns

userId_x            0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
userId_y          759
ViewCount       17162
CommentCount        0
dtype: int64

In [150]:
users_m_posts_null = users_m_posts.isnull().sum()

users_m_posts_null [users_m_posts_null > 0] #returns only those columns that have any Null value and how many

userId_y       759
ViewCount    17162
dtype: int64

In [151]:
list(users_m_posts_null [users_m_posts_null > 0].index) #areturns the columns ids only. puts it into a list

['userId_y', 'ViewCount']

#### 17. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [152]:
users_m_posts.shape

#out of 28542 entries, 759 in userId_y and 17162 in ViewCount are Null.

(28542, 10)

In [171]:
#I'll start by filling Null values with 0.0
#(I assum that a Null Value for ViewCount means maybe that there were 0 views on that post.
#Also, I assume zero for a null value in userId_y (Id of the post?). Maybe I can say that 0.0 here means no Id was
#atributed to the post

users_m_posts[['userId_y', 'ViewCount']] = users_m_posts[['userId_y', 'ViewCount']].fillna(0)

#And find which entries have both 'userId_y' and 'ViewCount' equal to 0.0

both_zero = users_m_posts[(users_m_posts['userId_y']==0) & (users_m_posts['ViewCount']==0)]
both_zero.head(30)

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
27,34,185,27,23,0,28,6,0.0,0.0,0
54,67,101,4,0,0,56,56,0.0,0.0,7
94,115,101,8,0,0,101,40,0.0,0.0,6
181,215,2496,384,5,0,193,6,0.0,0.0,0
195,230,1233,106,170,2,207,48,0.0,0.0,0
288,369,29,1,0,0,303,2,0.0,0.0,2
295,380,101,2,4,0,310,1,0.0,0.0,5
303,390,101,0,0,0,318,4,0.0,0.0,0
346,447,1422,173,20,0,368,2,0.0,0.0,2
432,583,101,0,0,0,457,4,0.0,0.0,3
476,648,101,0,0,0,502,5,0.0,0.0,0
483,666,1855,105,71,0,509,2,0.0,0.0,0
503,696,2282,182,136,18,529,1,0.0,0.0,4
510,704,577,64,51,0,537,11,0.0,0.0,0
599,822,101,0,0,0,628,16,0.0,0.0,3
608,833,21,0,0,0,640,12,0.0,0.0,0
639,878,101,4,0,0,674,4,0.0,0.0,2
652,900,1054,87,221,0,689,7,0.0,0.0,0
663,923,101,1,0,0,702,2,0.0,0.0,2
665,927,21,1,0,0,704,0,0.0,0.0,1
666,928,101,0,0,0,705,4,0.0,0.0,3
674,937,115,1,2,0,713,3,0.0,0.0,1
675,938,171,15,7,0,714,6,0.0,0.0,0
696,971,101,0,0,0,737,45,0.0,0.0,2
698,973,101,3,3,0,739,94,0.0,0.0,3
702,979,261,31,12,0,745,2,0.0,0.0,0
724,1010,101,1,0,0,768,2,0.0,0.0,1
753,1054,131,5,0,0,797,4,0.0,0.0,0
756,1063,101,0,0,0,800,1,0.0,0.0,0
765,1075,213,28,26,1,809,2,0.0,0.0,0

In [175]:
both_zero.shape #there are 533 entries where both 'userId_y' and 'ViewCount' are equal to 0.0

(533, 10)

In [182]:
three_zero = users_m_posts[(users_m_posts['userId_y']==0) & (users_m_posts['ViewCount']==0) & (users_m_posts['Views']==0)]
three_zero.head(30)

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
303,390,101,0,0,0,318,4,0.0,0.0,0
432,583,101,0,0,0,457,4,0.0,0.0,3
476,648,101,0,0,0,502,5,0.0,0.0,0
599,822,101,0,0,0,628,16,0.0,0.0,3
608,833,21,0,0,0,640,12,0.0,0.0,0
666,928,101,0,0,0,705,4,0.0,0.0,3
696,971,101,0,0,0,737,45,0.0,0.0,2
756,1063,101,0,0,0,800,1,0.0,0.0,0
843,1180,101,0,1,0,889,1,0.0,0.0,0
879,1244,101,0,0,0,932,3,0.0,0.0,0
939,1322,101,0,0,0,999,3,0.0,0.0,0
1020,1462,101,0,0,0,1094,2,0.0,0.0,11
1027,1472,101,0,0,0,1102,0,0.0,0.0,2
1031,1480,101,0,0,0,1107,1,0.0,0.0,0
1043,1498,101,0,0,0,1119,2,0.0,0.0,0
1175,1755,101,0,0,0,1262,2,0.0,0.0,0
1273,1907,101,0,0,0,1368,11,0.0,0.0,3
1359,2048,101,0,0,0,1457,1,0.0,0.0,1
1513,2324,101,0,0,0,1618,3,0.0,0.0,2
1556,2402,26,0,1,0,1662,1,0.0,0.0,3
1573,2434,121,0,4,0,1679,0,0.0,0.0,0
1647,2572,101,0,0,0,1758,0,0.0,0.0,4
1672,2614,101,0,0,0,1786,0,0.0,0.0,0
1817,2847,101,0,0,0,1937,3,0.0,0.0,0
1821,2853,101,0,0,0,1941,2,0.0,0.0,1
1840,2887,101,0,3,0,1960,1,0.0,0.0,0
1983,3126,1,0,0,0,2113,2,0.0,0.0,1
1995,3146,101,0,0,0,2126,4,0.0,0.0,1
2095,3302,1,0,0,0,2231,3,0.0,0.0,0
2179,3444,101,0,0,0,2321,0,0.0,0.0,1

In [181]:
three_zero.shape

(195, 10)

In [197]:
#I decided to drop the entries where 'userId_y', 'ViewCount' and 'Views' are equal to 0.0, as the 
#contributed content on the Stats Stack Exchange network from a user that doesn't have any view on the post plus 
# no Id on the post should be removed.

list_three_zero = list(three_zero.index)

users_m_posts_dropped = users_m_posts.drop(list_three_zero)

users_m_posts_dropped.head()

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
0,1,1,0,5007,1920,1,23,8.0,1278.0,1
1,2,101,25,3,0,2,22,24.0,8198.0,1
2,3,101,22,19,0,3,54,18.0,3613.0,4
3,4,101,11,0,0,4,13,23.0,5224.0,2
4,5,6792,1145,662,5,5,81,23.0,0.0,3

#### 18. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [212]:
users_m_posts_dropped['userId_x'].dtype #int
users_m_posts_dropped['Reputation'].dtype #int
users_m_posts_dropped['Views'].dtype #int
users_m_posts_dropped['UpVotes'].dtype #int
users_m_posts_dropped['DownVotes'].dtype #int
users_m_posts_dropped['postId'].dtype #int
users_m_posts_dropped['Score'].dtype #int
users_m_posts_dropped['userId_y'].dtype #float
users_m_posts_dropped['ViewCount'].dtype #float
users_m_posts_dropped['CommentCount'].dtype #int


#I will convert the last three columns to int type as it doesn't make sense to be float here
users_m_posts_dropped['userId_y'] = users_m_posts_dropped['userId_y'].astype('int')
users_m_posts_dropped['ViewCount'] = users_m_posts_dropped['ViewCount'].astype('int')
users_m_posts_dropped['CommentCount'] = users_m_posts_dropped['CommentCount'].astype('int')

users_m_posts_dropped['CommentCount'].dtype

dtype('int64')

In [213]:
#outliers to .csv doc

users_m_posts_dropped.to_csv('outliers.csv')