#### 1. Import pandas library

In [ ]:
import pandas as pd

#### 2. Import users table:

In [2]:
users=pd.read_csv("users_table.csv")
users

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\r\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 3. Rename Id column to userId

In [3]:
users=users.rename(columns={"Id": "userId"})
users
#users.columns = users.columns.to_series().apply(lambda x: x.strip())
#print(users.columns)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\r\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 4. Import posts table:

In [4]:
posts=pd.read_csv("posts_table.csv")
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts=posts.rename(columns={"Id":"postId", "OwnerUserId":"userId"})
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [6]:
ndfusers = users[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
print(ndfusers)
ndfposts =  posts[["postId", "Score","userId","ViewCount","CommentCount"]]
print(ndfposts)

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]
       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
39995   48321      0  19966.0        NaN             0
39996   48322      3    892.0        NaN             2
39997   48323      1   2020.0        NaN             0
39998   48324      3  19914.0        NaN             0
39999   48325     -1  19968.0      116.0             4

[40000 rows x 5 columns]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [11]:
mergeddataframe=users.merge(posts,
                            left_on="userId",
                           right_on="postId")
mergeddataframe.head()

,userId_x,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
1,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
2,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
4,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\r\n<li>PhD in CS/AI/Machine Learning/Cogn...,114,47,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaN,NaN,NaN

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [24]:
print(mergeddataframe.isnull().sum())
mergeddataframe.shape

userId_x                     0
Reputation                   0
CreationDate                 0
DisplayName                  6
LastAccessDate               0
WebsiteUrl               22209
Location                 19700
AboutMe                  21434
Views                        0
UpVotes                      0
DownVotes                    0
AccountId                    0
Age                      22203
ProfileImageUrl          20296
postId                       0
PostTypeId                   0
AcceptedAnswerId         23324
CreaionDate                  0
Score                        0
ViewCount                17162
Body                        86
userId_y                   759
LasActivityDate              0
Title                    17162
Tags                     17162
AnswerCount              17162
CommentCount                 0
FavoriteCount            23267
LastEditorUserId         14475
LastEditDate             14231
CommunityOwnedDate       27204
ParentId                 11779
ClosedDate               28174
OwnerDisplayName         27406
LastEditorDisplayName    28267
dtype: int64

(28541, 35)

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [41]:
a=mergeddataframe.drop(["WebsiteUrl","Location","AboutMe","Age","ProfileImageUrl","AcceptedAnswerId","ViewCount","FavoriteCount","CommunityOwnedDate","ClosedDate","OwnerDisplayName","LastEditorDisplayName"], axis=1)
b=a.fillna(0)
b

,userId_x,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId,postId,...,Body,userId_y,LasActivityDate,Title,Tags,AnswerCount,CommentCount,LastEditorUserId,LastEditDate,ParentId
0,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,25,3,0,2,2,...,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,<distributions><normality>,7.0,1,88.0,2010-08-07 17:56:44,0.0
1,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,22,19,0,3,3,...,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,<software><open-source>,19.0,4,183.0,2011-02-12 05:50:03,0.0
2,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,11,0,0,1998,4,...,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,<distributions><statistical-significance>,5.0,2,0.0,0,0.0
3,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,1145,662,5,54503,5,...,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,0,0,0.0,3,23.0,2010-07-19 19:21:15,3.0
4,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,114,47,0,46050,6,...,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,<machine-learning>,15.0,5,22047.0,2013-06-07 06:38:10,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28536,48321,1,2014-06-13 13:10:59,Vikrant,2014-07-15 14:53:00,0,0,0,2272095,48321,...,<p>you can use the matlab codes for svm and co...,19966.0,2013-01-23 09:00:01,0,0,0.0,0,0.0,0,45118.0
28537,48322,1,2014-06-13 13:13:23,user48322,2014-07-05 05:27:26,0,0,0,4609206,48322,...,"<p>I use <a href=""http://www.gnu.org/software/...",892.0,2013-01-23 13:13:30,0,0,0.0,2,892.0,2013-01-23 13:13:30,48311.0
28538,48323,1,2014-06-13 13:19:40,AlexR,2014-07-13 14:47:33,0,0,0,4524448,48323,...,"<p>If I understand your question correctly, yo...",2020.0,2013-01-23 09:16:44,0,0,0.0,0,0.0,0,48247.0
28539,48324,3,2014-06-13 13:20:20,Sharon Xuereb,2014-06-26 07:56:53,1,0,0,4609233,48324,...,"<p>Doesn't really help you with your question,...",19914.0,2013-01-23 09:36:07,0,0,0.0,0,0.0,0,48297.0
28540,48325,8,2014-06-13 13:34:26,user48386,2014-06-27 14:00:15,9,0,0,2766774,48325,...,"<p>I have 10 vectors each having 100,000 point...",19968.0,2013-02-22 11:23:54,are data sets obtained from a Normal distribut...,<normal-distribution>,2.0,4,0.0,0,0.0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
#I think I dropped a lot of variables, but in most of the variables are more than 90% of missing data. 
#I fill the other missing data with 0s