#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import users table:

In [4]:
users= pd.read_csv("C:/Users/milena.xavier/Desktop/Iron/Labs/week2/lab-data-cleaning/your-code/users_table.csv")
users.head(2)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN

#### 3. Rename Id column to userId

In [7]:
users.rename(columns = {'Id':'userId'}, inplace = True)
users.head(1)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN

#### 4. Import posts table:

In [8]:
posts=pd.read_csv("C:/Users/milena.xavier/Desktop/Iron/Labs/week2/lab-data-cleaning/your-code/posts_table.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId

In [9]:
posts.rename(columns = {'Id':'postId', 'OwnerUserId': 'userId'}, inplace = True)
posts.head(1)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [20]:
merge_users = users[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
merge_posts=posts[["postId", "Score", "userId", "ViewCount", "CommentCount"]]


new_df=pd.merge(merge_users, merge_posts, on="userId")
new_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [ ]:
new_df=pd.merge(merge_users, merge_posts, on="userId")

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [16]:
new_df.isna().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [32]:
new_df['ViewCount'] = new_df['ViewCount'].fillna(0)
new_df.isna().sum()
#I replaced by zero because these posts didnt have any Views. It is not because they dont exist at all.

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [31]:
new_df.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [35]:
new_df['ViewCount'] = new_df['ViewCount'].astype(int)
new_df.dtypes
#I changed from float to int since there is no half View :)

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int32
CommentCount    int64
dtype: object