#### 1. Import pandas library

In [29]:
import pandas as pd
import numpy as np

#### 2. Import users table:

In [12]:
users_org = pd.read_csv('users_table.csv') 
users_org.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [13]:
users= users_org.rename(columns={'Id':'userId'})
users.head(1)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN

#### 4. Import posts table:

In [14]:
posts_org = pd.read_csv('posts_table.csv') 
posts_org.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [15]:
posts= posts_org.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})
posts.head(1)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [16]:
usersSub= users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
usersSub.head(2)
postsSub= posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
postsSub.head(2)

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [31]:
usersSub.info()
postsSub.info()
#postsSub['userId'] = postsSub['userId'].astype('int')

postsSub['userId']=postsSub['userId'].fillna(0).apply(np.int64)
##

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 5 columns):
userId        40325 non-null int64
Reputation    40325 non-null int64
Views         40325 non-null int64
UpVotes       40325 non-null int64
DownVotes     40325 non-null int64
dtypes: int64(5)
memory usage: 1.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 5 columns):
postId          40000 non-null int64
Score           40000 non-null int64
userId          38962 non-null float64
ViewCount       15895 non-null float64
CommentCount    40000 non-null int64
dtypes: float64(2), int64(3)
memory usage: 1.5 MB

C:\Users\haenni\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [32]:

data = pd.merge(usersSub, postsSub, on = 'userId')

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [33]:
print(data.isnull().sum())

data.shape[0]


### on View Count a lot of missings

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

38962

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [47]:
data.describe()

data = data.drop_duplicates()
null_displ = data[data['ViewCount'].isnull()] 
null_displ # --> alot nan from user -1 --> error, drop those

data = data[data.userId != -1]
data.describe()#--> alot nan from user -1 --> error --> drop those --> didnt help
#null_displ = data[data['ViewCount'].isnull()]
data_sub = data[data.Views != 0 & data.ViewCount.isnull()] # some less, but still 50% nan in viewCount
data_sub.describe()
null_displ.describe()

## Problem must be something else ---> only solution i see is to dropp the column
# other could be, to fill in a 0, but you never no, if a nan is a 0, or a missing value that would be a 10 (or what ever)


data.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000
mean,6098.318160,7304.147146,1405.083756,901.840006,37.899405,22935.911249,4.096012,474.005973,2.021010
std,5221.930162,15182.977699,3428.395460,2288.566479,122.793077,13697.748149,6.568194,2427.650359,2.675841
min,5.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,0.000000,0.000000
25%,1347.000000,148.000000,16.000000,4.000000,0.000000,11303.500000,1.000000,0.000000,0.000000
50%,4864.000000,915.000000,125.000000,65.000000,1.000000,22342.000000,2.000000,0.000000,1.000000
75%,9680.000000,7931.000000,1050.000000,582.000000,16.000000,33666.500000,5.000000,255.000000,3.000000
max,55226.000000,87393.000000,20932.000000,11442.000000,779.000000,48325.000000,192.000000,175495.000000,45.000000

In [43]:

data_sub

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
123,5,6792,1145,662,5,6,152,29229.0,5
124,5,6792,1145,662,5,12,20,NaN,1
125,5,6792,1145,662,5,32,12,NaN,0
126,5,6792,1145,662,5,49,6,NaN,0
127,5,6792,1145,662,5,64,6,NaN,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,NaN,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38839 entries, 123 to 38961
Data columns (total 9 columns):
userId          38839 non-null int64
Reputation      38839 non-null int64
Views           38839 non-null int64
UpVotes         38839 non-null int64
DownVotes       38839 non-null int64
postId          38839 non-null int64
Score           38839 non-null int64
ViewCount       15390 non-null float64
CommentCount    38839 non-null int64
dtypes: float64(1), int64(8)
memory usage: 3.0 MB

In [41]:
data['ViewCount'] = data['ViewCount'].fillna(0).astype('int64')

## i am not sure, if that is necessary, but because view Count is very likely a int anyway, i did it..

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38839 entries, 123 to 38961
Data columns (total 9 columns):
userId          38839 non-null int64
Reputation      38839 non-null int64
Views           38839 non-null int64
UpVotes         38839 non-null int64
DownVotes       38839 non-null int64
postId          38839 non-null int64
Score           38839 non-null int64
ViewCount       38839 non-null int64
CommentCount    38839 non-null int64
dtypes: int64(9)
memory usage: 3.0 MB