#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import users table:

In [3]:
user = pd.read_csv(r'C:\Users\Daniel Carvalho\Desktop\DataAnalysis\WEEK2\DAY4\labs\lab-data-cleaning\your-code\users_table.csv')

#### 3. Rename Id column to userId

In [4]:
user['userId'] = user['Id']

#### 4. Import posts table:

In [5]:
posts = pd.read_csv(r'C:\Users\Daniel Carvalho\Desktop\DataAnalysis\WEEK2\DAY4\labs\lab-data-cleaning\your-code\posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [6]:
posts['userId'] = posts['OwnerUserId']
posts['postId'] = posts['Id']

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [7]:
user2 = user[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']].copy()
posts2 = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']].copy()

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [8]:
new_table = pd.merge(user2,posts2)

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [9]:
new_table.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [10]:
new_table['ViewCount'] = new_table['ViewCount'].fillna(0)
new_table

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,0.0,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [11]:
new_table.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [14]:
new_table['ViewCount'] = new_table['ViewCount'].astype(int)