#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import users table:

In [2]:
users = pd.read_csv('users_table.csv')
users.head(3)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN

#### 3. Rename Id column to userId

In [3]:
users = users.rename(columns={'Id': 'userId'})
users.head(3)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN

#### 4. Import posts table:

In [4]:
posts = pd.read_csv('posts_table.csv')
posts.head(3)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts = posts.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})
posts.head(2)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [11]:
users_columns = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_columns = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
# users_columns.head()
# posts_columns.head()

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [13]:
merged_df = pd.merge(left = users_columns,
         right = posts_columns,
         on='userId',
         how='inner'
        )
merged_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [17]:
null_cols = merged_df.isnull().sum()
null_cols[null_cols > 0]

ViewCount    23572
dtype: int64

In [18]:
merged_df.shape

(38962, 9)

In [23]:
(23000 * 100) / 38962

59.031877213695395

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [22]:
# I will drop the column with around 60% of NaNs (or more)
drop_cols = list(null_cols[null_cols > 23000].index)
merged_cleaned_df = merged_df.drop(drop_cols, axis=1)
merged_cleaned_df.shape

(38962, 8)

In [24]:
merged_cleaned_df.head()

   userId  Reputation  Views  UpVotes  DownVotes  postId  Score  CommentCount
0      -1           1      0     5007       1920    2175      0             0
1      -1           1      0     5007       1920    8576      0             0
2      -1           1      0     5007       1920    8578      0             0
3      -1           1      0     5007       1920    8981      0             0
4      -1           1      0     5007       1920    8982      0             0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [25]:
# We can replace the NaNs with zeros, since this column is not informative anyway
merged_df['ViewCount'] = merged_df['ViewCount'].fillna(0)
merged_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0

In [62]:
# Bonus Question: Create a dataframe with the outliers you have identified in the dataframe 
# and export it to a csv file in your-code folder.
merged_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,0.0,0

In [30]:
stats = merged_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,38962.0,6079.063087,5224.896435,-1.0,1317.00,4856.0,9651.0,55226.0,8334.00
Reputation,38962.0,7281.091679,15164.527714,1.0,147.00,909.0,7931.0,87393.0,7784.00
Views,38962.0,1400.648016,3423.886887,0.0,16.00,124.0,1050.0,20932.0,1034.00
UpVotes,38962.0,914.799677,2296.527060,0.0,4.00,65.0,582.0,11442.0,578.00
DownVotes,38962.0,43.841050,161.797079,0.0,0.00,1.0,16.0,1920.0,16.00
postId,38962.0,22960.799651,13696.932471,1.0,11325.25,22373.5,33688.5,48325.0,22363.25
Score,38962.0,4.083081,6.561843,-19.0,1.00,2.0,5.0,192.0,4.00
ViewCount,38962.0,472.509573,2423.961137,0.0,0.00,0.0,253.0,175495.0,253.00
CommentCount,38962.0,2.014630,2.674018,0.0,0.00,1.0,3.0,45.0,3.00

In [74]:
outliers = pd.DataFrame(columns=merged_df.columns)
#print(outliers)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = merged_df[(merged_df[col] < lower) | (merged_df[col] > upper)].copy()
    #print(results)
    results['Outlier'] = col
    outliers = outliers.append(results)

print(outliers.shape)
after = outliers[['userId', 'Reputation','Views','UpVotes','DownVotes','postId',
         'Score','ViewCount','CommentCount']].drop_duplicates()
after.shape

(32521, 10)

/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)
/var/folders/qw/zs_98d4j48535kh5qwsd3fvr0000gn/T/ipykernel_1927/1005498653.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outliers = outliers.append(results)

(15800, 9)

In [41]:
outliers['Outlier'].values
outliers.to_csv('outliers.csv')

array(['userId', 'userId', 'userId', ..., 'CommentCount', 'CommentCount',
       'CommentCount'], dtype=object)

In [35]:
print('Done')

Done