## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [2]:
import pandas as pd

In [4]:
weather = pd.read_csv('../weather-raw.csv')
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
weather.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [11]:
columns_to_keep = weather.columns[:4] 
weather_vertical = pd.melt(weather, id_vars = columns_to_keep, var_name = "day")
weather_vertical

          id  year  month element  day  value
0    MX17004  2010      1    tmax   d1    NaN
1    MX17004  2010      1    tmin   d1    NaN
2    MX17004  2010      2    tmax   d1    NaN
3    MX17004  2010      2    tmin   d1    NaN
4    MX17004  2010      3    tmax   d1    NaN
..       ...   ...    ...     ...  ...    ...
677  MX17004  2010     10    tmin  d31    NaN
678  MX17004  2010     11    tmax  d31    NaN
679  MX17004  2010     11    tmin  d31    NaN
680  MX17004  2010     12    tmax  d31    NaN
681  MX17004  2010     12    tmin  d31    NaN

[682 rows x 6 columns]

In [14]:
weather_vertical = weather_vertical[weather_vertical["value"].notnull()]
weather_vertical

          id  year  month element  day  value
20   MX17004  2010     12    tmax   d1   29.9
21   MX17004  2010     12    tmin   d1   13.8
24   MX17004  2010      2    tmax   d2   27.3
25   MX17004  2010      2    tmin   d2   14.4
40   MX17004  2010     11    tmax   d2   31.3
..       ...   ...    ...     ...  ...    ...
631  MX17004  2010      8    tmin  d29   15.3
638  MX17004  2010      1    tmax  d30   27.8
639  MX17004  2010      1    tmin  d30   14.5
674  MX17004  2010      8    tmax  d31   25.4
675  MX17004  2010      8    tmin  d31   15.4

[66 rows x 6 columns]

In [17]:
weather_vertical.isnull().sum() #no missing values now.

id       year  month  element  day  value
MX17004  2010  1      tmax     d30  27.8     1
               10     tmin     d28  15.0     1
               8      tmin     d13  16.5     1
                               d23  15.0     1
                               d25  15.6     1
                                            ..
               7      tmin     d3   17.5     1
               8      tmax     d13  29.8     1
                               d23  26.4     1
                               d25  29.7     1
               12     tmin     d6   10.5     1
Length: 66, dtype: int64

In [18]:
weather_vertical.to_csv("weather_reformatted.csv")