## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [77]:
import pandas as pd

In [96]:
weather_data = pd.read_csv('../weather-raw.csv')

In [97]:
#weather_data["month"] = weather_data["month"].map(str) + weather_data["element"]
weather_data = weather_data.drop(['year', 'id'], axis=1)
weather_data.head()

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
col_list=list(weather_data.columns)

In [123]:
unpivoted = weather_data.melt(id_vars=['month'], value_vars=col_list[2:])
unpivoted.tail(20)

     month variable  value
662      2      d31    NaN
663      2      d31    NaN
664      3      d31    NaN
665      3      d31    NaN
666      4      d31    NaN
667      4      d31    NaN
668      5      d31    NaN
669      5      d31    NaN
670      6      d31    NaN
671      6      d31    NaN
672      7      d31    NaN
673      7      d31    NaN
674      8      d31   25.4
675      8      d31   15.4
676     10      d31    NaN
677     10      d31    NaN
678     11      d31    NaN
679     11      d31    NaN
680     12      d31    NaN
681     12      d31    NaN

In [129]:
#reindexed_stacked_weather = weather_stacked.reset_index()
#reindexed_stacked_weather.rename(
#    columns={'level_0': 'ID', 'level_1': 'variable', 0:'value'},inplace=True)
#reindexed_stacked_weather.head(20)

cleaned_unpivoted = unpivoted.dropna()
sorted_data = cleaned_unpivoted.sort_values('month')

sorted_data.to_csv('cleaned_weather_data.csv', index=False)