## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [3]:

import pandas as pd
import numpy as np

In [4]:
users = pd.read_csv('users_table.csv')

In [5]:
users = users.rename(columns={'Id': 'userId'})

In [6]:
posts = pd.read_csv('posts_table.csv')

In [7]:
posts = posts.rename(columns={'Id': 'postId', 'OwnerUserId':'userId'})

In [8]:
users_columns = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']].copy()

posts_columns = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']].copy()

In [9]:
merged_dataframe = users_columns.merge(posts_columns)

In [10]:
#Identify missing values in the merged dataframe and apply some of the methods.

In [11]:
merged_dataframe.isna().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

In [12]:
merged_dataframe.fillna(0)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,0.0,0

In [13]:
#Change the data types of your merged dataset accordingly.

In [14]:
merged_dataframe.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [15]:
outliers = np.abs(merged_dataframe -merged_dataframe.mean()) / merged_dataframe.std()

In [16]:
#Bonus Question: Create a dataframe with the outliers you have identified in the dataframe 
#and export it to a csv file in your-code folder.

In [18]:
outliers.to_csv('outliers.csv', index=False)