## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [38]:
import pandas as pd
import numpy as np

In [26]:
weather=pd.read_csv('../weather-raw.csv')


weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
null_cols = weather.isnull().sum()
null_cols[null_cols > 0]

d1     20
d2     18
d3     18
d4     20
d5     14
d6     20
d7     20
d8     20
d9     22
d10    20
d11    20
d12    22
d13    20
d14    18
d15    20
d16    20
d17    20
d18    22
d19    22
d20    22
d21    22
d22    22
d23    18
d24    22
d25    20
d26    20
d27    16
d28    20
d29    18
d30    20
d31    20
dtype: int64

In [72]:
drop_cols = list(null_cols[null_cols > 10000].index)
weather = weather.drop(drop_cols, axis=1)
print(weather)

         id  month element    d1    d2    d3    d4    d5    d6    d7  ...  \
0   MX17004      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1   MX17004      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2   MX17004      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN   NaN  ...
3   MX17004      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN   NaN  ...
4   MX17004      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN   NaN  ...
5   MX17004      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN   NaN  ...
6   MX17004      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
7   MX17004      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
8   MX17004      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
9   MX17004      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
10  MX17004      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
11  MX17004      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
12  MX17004      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN   NaN  ...
13  MX17004      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN   NaN  ...
14  MX17004      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN   NaN  ...
15  MX17004      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN   NaN  ...
16  MX17004     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN  28.1  ...
17  MX17004     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN  12.9  ...
18  MX17004     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN   NaN  ...
19  MX17004     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN   NaN  ...
20  MX17004     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8   NaN  ...
21  MX17004     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5   NaN  ...

    d22   d23  d24   d25   d26   d27   d28   d29   d30   d31
0   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
1   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
2   NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
7   NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
8   NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
9   NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
10  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
11  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
12  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
15  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
16  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
17  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
18  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
19  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
20  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[22 rows x 34 columns]

In [73]:
low_variance = []

for col in weather._get_numeric_data():
    minimum = min(weather[col])
    ninety_perc = np.percentile(weather[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)
print(low_variance)

[]

In [57]:
data = weather.drop(low_variance, axis=1)

In [45]:
print(weather)

         id  month element    d1    d2    d3    d4    d5    d6    d7  ...  \
0   MX17004      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1   MX17004      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2   MX17004      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN   NaN  ...
3   MX17004      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN   NaN  ...
4   MX17004      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN   NaN  ...
5   MX17004      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN   NaN  ...
6   MX17004      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
7   MX17004      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
8   MX17004      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
9   MX17004      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
10  MX17004      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
11  MX17004      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
12  MX17004      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN   NaN  ...
13  MX17004      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN   NaN  ...
14  MX17004      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN   NaN  ...
15  MX17004      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN   NaN  ...
16  MX17004     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN  28.1  ...
17  MX17004     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN  12.9  ...
18  MX17004     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN   NaN  ...
19  MX17004     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN   NaN  ...
20  MX17004     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8   NaN  ...
21  MX17004     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5   NaN  ...

    d22   d23  d24   d25   d26   d27   d28   d29   d30   d31
0   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
1   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
2   NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
7   NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
8   NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
9   NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
10  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
11  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
12  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
15  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
16  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
17  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
18  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
19  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
20  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[22 rows x 34 columns]

In [58]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

       count       mean        std   min     25%    50%     75%   max     IQR
month   22.0   6.272727   3.601347   1.0   3.250   6.00   9.500  12.0   6.250
d1       2.0  21.850000  11.384419  13.8  17.825  21.85  25.875  29.9   8.050
d2       4.0  22.325000   8.254443  14.4  15.825  21.80  28.300  31.3  12.475
d3       4.0  21.150000   6.405466  14.4  16.725  20.80  25.225  28.6   8.500
d4       2.0  19.600000  10.748023  12.0  15.800  19.60  23.400  27.2   7.600
d5       8.0  20.862500   8.904243   7.9  14.150  21.05  27.650  32.1  13.500
d6       2.0  19.150000  12.232947  10.5  14.825  19.15  23.475  27.8   8.650
d7       2.0  20.500000  10.748023  12.9  16.700  20.50  24.300  28.1   7.600
d8       2.0  23.150000   8.273149  17.3  20.225  23.15  26.075  29.0   5.850
d9       0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d10      2.0  25.650000  12.515790  16.8  21.225  25.65  30.075  34.5   8.850
d11      2.0  21.550000  11.525841  13.4  17.475  21.55  25.625  29.7   8.150
d12      0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d13      2.0  23.150000   9.404520  16.5  19.825  23.15  26.475  29.8   6.650
d14      4.0  22.225000   8.750381  13.0  15.625  23.00  29.600  29.9  13.975
d15      2.0  19.600000  12.869343  10.5  15.050  19.60  24.150  28.7   9.100
d16      2.0  24.350000   9.545942  17.6  20.975  24.35  27.725  31.1   6.750
d17      2.0  22.750000   7.424621  17.5  20.125  22.75  25.375  28.0   5.250
d18      0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d19      0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d20      0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d21      0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d22      0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d23      4.0  20.500000   9.118845  10.7  13.925  20.70  27.275  29.9  13.350
d24      0.0        NaN        NaN   NaN     NaN    NaN     NaN   NaN     NaN
d25      2.0  22.650000   9.970206  15.6  19.125  22.65  26.175  29.7   7.050
d26      2.0  20.100000  11.313708  12.1  16.100  20.10  24.100  28.1   8.000
d27      6.0  24.383333   9.292022  14.2  17.075  22.95  31.825  36.3  14.750
d28      2.0  23.100000  11.455130  15.0  19.050  23.10  27.150  31.2   8.100
d29      4.0  22.850000   7.294062  15.3  17.325  23.00  28.525  30.1  11.200
d30      2.0  21.150000   9.404520  14.5  17.825  21.15  24.475  27.8   6.650
d31      2.0  20.400000   7.071068  15.4  17.900  20.40  22.900  25.4   5.000

In [88]:
x=list(stats[(stats['count']==0)].index)

In [89]:
print(x)

['d9', 'd12', 'd18', 'd19', 'd20', 'd21', 'd22', 'd24']

In [92]:

drop=weather.drop(x,axis=1)

In [95]:
print(drop.T)

           0     1     2     3     4     5     6     7     8     9   ...  \
month       1     1     2     2     3     3     4     4     5     5  ...
element  tmax  tmin  tmax  tmin  tmax  tmin  tmax  tmin  tmax  tmin  ...
d1        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d2        NaN   NaN  27.3  14.4   NaN   NaN   NaN   NaN   NaN   NaN  ...
d3        NaN   NaN  24.1  14.4   NaN   NaN   NaN   NaN   NaN   NaN  ...
d4        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d5        NaN   NaN   NaN   NaN  32.1  14.2   NaN   NaN   NaN   NaN  ...
d6        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d7        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d8        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d10       NaN   NaN   NaN   NaN  34.5  16.8   NaN   NaN   NaN   NaN  ...
d11       NaN   NaN  29.7  13.4   NaN   NaN   NaN   NaN   NaN   NaN  ...
d13       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d14       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d15       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d16       NaN   NaN   NaN   NaN  31.1  17.6   NaN   NaN   NaN   NaN  ...
d17       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d23       NaN   NaN  29.9  10.7   NaN   NaN   NaN   NaN   NaN   NaN  ...
d25       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d26       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d27       NaN   NaN   NaN   NaN   NaN   NaN  36.3  16.7  33.2  18.2  ...
d28       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d29       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d30      27.8  14.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
d31       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

           12    13    14    15    16    17    18    19    20    21
month       7     7     8     8    10    10    11    11    12    12
element  tmax  tmin  tmax  tmin  tmax  tmin  tmax  tmin  tmax  tmin
d1        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.9  13.8
d2        NaN   NaN   NaN   NaN   NaN   NaN  31.3  16.3   NaN   NaN
d3       28.6  17.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d4        NaN   NaN   NaN   NaN   NaN   NaN  27.2    12   NaN   NaN
d5        NaN   NaN  29.6  15.8    27    14  26.3   7.9   NaN   NaN
d6        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  27.8  10.5
d7        NaN   NaN   NaN   NaN  28.1  12.9   NaN   NaN   NaN   NaN
d8        NaN   NaN    29  17.3   NaN   NaN   NaN   NaN   NaN   NaN
d10       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d11       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d13       NaN   NaN  29.8  16.5   NaN   NaN   NaN   NaN   NaN   NaN
d14      29.9  16.5   NaN   NaN  29.5    13   NaN   NaN   NaN   NaN
d15       NaN   NaN   NaN   NaN  28.7  10.5   NaN   NaN   NaN   NaN
d16       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d17       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d23       NaN   NaN  26.4    15   NaN   NaN   NaN   NaN   NaN   NaN
d25       NaN   NaN  29.7  15.6   NaN   NaN   NaN   NaN   NaN   NaN
d26       NaN   NaN   NaN   NaN   NaN   NaN  28.1  12.1   NaN   NaN
d27       NaN   NaN   NaN   NaN   NaN   NaN  27.7  14.2   NaN   NaN
d28       NaN   NaN   NaN   NaN  31.2    15   NaN   NaN   NaN   NaN
d29       NaN   NaN    28  15.3   NaN   NaN   NaN   NaN   NaN   NaN
d30       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
d31       NaN   NaN  25.4  15.4   NaN   NaN   NaN   NaN   NaN   NaN

[25 rows x 22 columns]