## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [ ]:
#Bonus Question: Create a dataframe with the outliers you have identified in the dataframe and
#export it to a csv file in your-code folder.

This is not finish. I will come back on this after. 
I also check this with Filipe.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\beatr\\Documents\\Beatriz\\Ironhack\\lab-data-cleaning\\weather-raw.csv")
df.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop(columns = ["year", "month"], axis = 1, inplace = True)
df.head()

,id,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,tmax,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,tmin,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,tmax,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Transpose to get the info:
stats = df.describe().transpose()

#Add the column IQR and the calculation of the IQR
stats["IQR"] = stats["75%"] - stats["25%"]
stats

#Add 1.5 * IQR to the third quartile. Any number that is greater than this is a suspected outlier
#Subtract 1.5 * IQR to the first quartile. Any number that is lower than this is a suspected outlier.

#Create bothe Upper and Lower Bound:
stats["UpperBound"] = ((stats["75%"]) + (1.5 * stats["IQR"]))
stats["LowerBound"] = ((stats["25%"]) - (1.5 * stats["IQR"]))
stats

#OUTPUT: are the columns that have outliers
#stats[(stats["UpperBound"] < stats["max"]) | (stats["LowerBound"] > stats["min"])]

,count,mean,std,min,25%,50%,75%,max,IQR,UpperBound,LowerBound
d1,2.0,21.850000,11.384419,13.8,17.825,21.85,25.875,29.9,8.050,37.9500,5.7500
d2,4.0,22.325000,8.254443,14.4,15.825,21.80,28.300,31.3,12.475,47.0125,-2.8875
d3,4.0,21.150000,6.405466,14.4,16.725,20.80,25.225,28.6,8.500,37.9750,3.9750
d4,2.0,19.600000,10.748023,12.0,15.800,19.60,23.400,27.2,7.600,34.8000,4.4000
d5,8.0,20.862500,8.904243,7.9,14.150,21.05,27.650,32.1,13.500,47.9000,-6.1000
d6,2.0,19.150000,12.232947,10.5,14.825,19.15,23.475,27.8,8.650,36.4500,1.8500
d7,2.0,20.500000,10.748023,12.9,16.700,20.50,24.300,28.1,7.600,35.7000,5.3000
d8,2.0,23.150000,8.273149,17.3,20.225,23.15,26.075,29.0,5.850,34.8500,11.4500
d9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d10,2.0,25.650000,12.515790,16.8,21.225,25.65,30.075,34.5,8.850,43.3500,7.9500
d11,2.0,21.550000,11.525841,13.4,17.475,21.55,25.625,29.7,8.150,37.8500,5.2500
d12,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d13,2.0,23.150000,9.404520,16.5,19.825,23.15,26.475,29.8,6.650,36.4500,9.8500
d14,4.0,22.225000,8.750381,13.0,15.625,23.00,29.600,29.9,13.975,50.5625,-5.3375
d15,2.0,19.600000,12.869343,10.5,15.050,19.60,24.150,28.7,9.100,37.8000,1.4000
d16,2.0,24.350000,9.545942,17.6,20.975,24.35,27.725,31.1,6.750,37.8500,10.8500
d17,2.0,22.750000,7.424621,17.5,20.125,22.75,25.375,28.0,5.250,33.2500,12.2500
d18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d19,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d23,4.0,20.500000,9.118845,10.7,13.925,20.70,27.275,29.9,13.350,47.3000,-6.1000
d24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d25,2.0,22.650000,9.970206,15.6,19.125,22.65,26.175,29.7,7.050,36.7500,8.5500
d26,2.0,20.100000,11.313708,12.1,16.100,20.10,24.100,28.1,8.000,36.1000,4.1000
d27,6.0,24.383333,9.292022,14.2,17.075,22.95,31.825,36.3,14.750,53.9500,-5.0500
d28,2.0,23.100000,11.455130,15.0,19.050,23.10,27.150,31.2,8.100,39.3000,6.9000
d29,4.0,22.850000,7.294062,15.3,17.325,23.00,28.525,30.1,11.200,45.3250,0.5250
d30,2.0,21.150000,9.404520,14.5,17.825,21.15,24.475,27.8,6.650,34.4500,7.8500
d31,2.0,20.400000,7.071068,15.4,17.900,20.40,22.900,25.4,5.000,30.4000,10.4000