## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd
import numpy as np

In [3]:
weather = pd.read_csv('weather-raw.csv')

In [4]:
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
weather = weather.fillna('No data')

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,27.8,No data
1,MX17004,2010,1,tmin,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,14.5,No data
2,MX17004,2010,2,tmax,No data,27.3,24.1,No data,No data,No data,...,No data,29.9,No data,No data,No data,No data,No data,No data,No data,No data
3,MX17004,2010,2,tmin,No data,14.4,14.4,No data,No data,No data,...,No data,10.7,No data,No data,No data,No data,No data,No data,No data,No data
4,MX17004,2010,3,tmax,No data,No data,No data,No data,32.1,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
5,MX17004,2010,3,tmin,No data,No data,No data,No data,14.2,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
6,MX17004,2010,4,tmax,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,36.3,No data,No data,No data,No data
7,MX17004,2010,4,tmin,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,16.7,No data,No data,No data,No data
8,MX17004,2010,5,tmax,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,33.2,No data,No data,No data,No data
9,MX17004,2010,5,tmin,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,18.2,No data,No data,No data,No data
10,MX17004,2010,6,tmax,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,30.1,No data,No data
11,MX17004,2010,6,tmin,No data,No data,No data,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,18,No data,No data
12,MX17004,2010,7,tmax,No data,No data,28.6,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
13,MX17004,2010,7,tmin,No data,No data,17.5,No data,No data,No data,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
14,MX17004,2010,8,tmax,No data,No data,No data,No data,29.6,No data,...,No data,26.4,No data,29.7,No data,No data,No data,28,No data,25.4
15,MX17004,2010,8,tmin,No data,No data,No data,No data,15.8,No data,...,No data,15,No data,15.6,No data,No data,No data,15.3,No data,15.4
16,MX17004,2010,10,tmax,No data,No data,No data,No data,27,No data,...,No data,No data,No data,No data,No data,No data,31.2,No data,No data,No data
17,MX17004,2010,10,tmin,No data,No data,No data,No data,14,No data,...,No data,No data,No data,No data,No data,No data,15,No data,No data,No data
18,MX17004,2010,11,tmax,No data,31.3,No data,27.2,26.3,No data,...,No data,No data,No data,No data,28.1,27.7,No data,No data,No data,No data
19,MX17004,2010,11,tmin,No data,16.3,No data,12,7.9,No data,...,No data,No data,No data,No data,12.1,14.2,No data,No data,No data,No data
20,MX17004,2010,12,tmax,29.9,No data,No data,No data,No data,27.8,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data
21,MX17004,2010,12,tmin,13.8,No data,No data,No data,No data,10.5,...,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data